---
import '../styles/global.css'
import Layout from "../layouts/Layout.astro"

import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Tools from '../components/Tools.astro'
import Footer from '../components/Footer.astro'
import Reviews from '../components/Reviews.astro'
import CallToAction from '../components/CallToAction.astro'
import Service from '../components/Service.astro'
import ProjectSphere from '../components/imgsphere.astro';


---


<Layout>
  <Header />
  <Hero />
  <Tools />
  <Service />
  <ProjectSphere/>
 <div style="display: grid; place-items: center; padding: 3rem 1rem;">
    <a 
      href="/project" 
      style="display: inline-block; padding: 12px 24px; background-color: #333; color: white; text-decoration: none; border-radius: 8px; font-weight: 600;"
    >
      Click to view all projects
    </a>
  </div>
  <Reviews />
  <CallToAction />
  <Footer />
</Layout>
